@import url("https://fonts.googleapis.com/css?family=Zilla Slab:400,500,700");

body {
    text-align: center;
    background: #606b79;
    color: #222;
    margin: 4vh 4vw 4vh 4vw;
    font-family: 'Zilla Slab';
}

img {
    max-width: 786px;
    border-radius: 0.2em;
}

a {
    color: orange;
}

.yin {
    color: black;
}

.yang {
    color: white;
}

.promptText {
    margin: 0.5em;
}

input,
button {
    margin: 3px;
    padding: 0.5em;
    background: #111;
    color: #eee;
    border-radius: 0.4em;
    border: 1px solid #eee;
}

a:visited {
    color: rgb(198, 109, 0);
}

#badImage {
    border: 5px solid black;
    background: rgba(0, 0, 0, 0.5);
}

#goodImage {
    border: 5px solid white;
    background: rgba(255, 255, 255, 0.5);
}

#sourceDiv {
    display: none;
    visibility: hidden;
    margin-top: 3vh;
    margin-bottom: 3vh;
}

#sourceImage {
    border: 5px solid #222;
}

.footer {
    margin-top: 12vh;
    margin-bottom: 3vh;
    margin-left: 4vw;
    margin-right: 4vw;
    padding-top: 1vh;
    border-top: 2px dotted rgb(200, 200, 200);
}

#footer {
    font-size: 85%;
}

#imageDesc span {
    padding-right: 0.2em;
}

.yyImage {
    width: 512px;
}

@media screen and (max-width: 1024px) {
    img {
        max-width: 512px;
    }
}

@media screen and (max-width: 640px) {
    img {
        max-width: 256px;
    }
}